/* css styles */
:root {
    --background-colour: #f0f0f0;
    --text-colour: #333;
    --border-colour: #84f155;
    --border-width: 0.2rem;
    --border-radius: 0.5rem;
    --card-background-colour: #fff;
    --card-border-colour: #84f155;
}

.listing-collection {
    padding: 0.8rem 2rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.listing-collection-card {
    list-style: none;
    padding: 0.5rem 0.5rem;
    border: var(--border-width) solid var(--border-colour);
    border-radius: var(--border-radius);
}

.listing-category {
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    background-color: var(--card-background-colour);
    color: var(--text-colour);
    font-size: 0.8rem;
    border: var(--border-width) solid var(--card-border-colour);
    border-radius: var(--border-radius);
}

.listing-category:hover {
    background-color: var(--border-colour);
    color: var(--card-background-colour);
}
